@{
    ViewData["Title"] = "Grid O'Forms";
}

<h2>Welcome to the Grid of Forms</h2>

<div class="wrapper">
    <div class="box box1">Hello</div>
    <div class="box box2">Kevin</div>
    <div class="box">Wong</div>
</div>

<p id="demo"></p>
