@{
    ViewData["Title"] = "Grid O'Forms";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/js/site.js"></script>


<h2>Welcome to the Grid of Forms</h2>

<div class="wrapper">
    <!-- <button class="box box1">Form 1</button>
    <button class="box box2">Form 2</button>
    <button class="box">Form 3</button> -->
    <div class="box box1">Hello</div>
    <div class="box box2">Kevin</div>
    <div class="box box3">Wong</div>
</div>

<p id="demo"></p>
