@{
    ViewData["Title"] = "Grid O'Forms";
}

<h2>Welcome to the Grid of Forms</h2>

<div class="wrapper">
    <div class="box box1">Hello</div>
    <div class="box box2">Kevin</div>
    <div class="box">Wong</div>
</div>

<div class="notification">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    TEST TEXT
  </p>
  <p>
  </p>
</div>

<p id="demo"></p>
