@{
    ViewData["Title"] = "Grid O'Forms";
}

<h2>Welcome to the Grid of Forms</h2>

<div class="wrapper">
    <div class="box box1">Form 1</div>
    <div class="box box2">Form 2</div>
    <div class="box">Form 3</div>
</div>

<p id="demo"></p>
